Schemas/mode.dtd

<!-- Définition du mode -->
<!ELEMENT mode (name, start_score, end_score, rounds, objects)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT start_score (#PCDATA)>
<!ELEMENT end_score (#PCDATA)>
<!ELEMENT rounds (#PCDATA)>

<!-- Définition des objects -->
<!ELEMENT objects (object, object)>
<!ELEMENT object (points, timeout)>
<!ATTLIST object type ID #REQUIRED>
<!ELEMENT points (#PCDATA)>
<!ELEMENT timeout (#PCDATA)>
